.projects {
    width: 100%;
    height: auto;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
    background-color: #fff;
    gap: 2rem
}

.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-header h2 {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: auto;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: center;
}

.project-header hr {
    background-color: #e73c7e;
    width: 100px;
    height: 2px;
    margin-top: 0.5rem;

}

.project-container{
    display: flex;
    width: inherit;
    padding: 0.5rem;
    gap: 2rem;
    flex-direction: column;
}

.project-card{
    background-color: #38405f;
border-radius: 10px;
border-width: 0;
cursor: pointer;
display: inline-block;
padding: 1rem;
}

.project-card:hover{
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: inherit;
    padding: 0.2rem;
}

.image-card-container{
    width: 90%;
}

.para-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.buit-with{
    display: flex;
    width: inherit;
    gap: 1rem;
    justify-content: center;
}

.buit-with p{
    width: 5rem;
    align-self:baseline;
}

.buit-with ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.9rem;
    row-gap: 0.5rem;
}

.buit-with ul li{
    padding: 5px;
    background-color: #fff;
    border: none;
    color: #005dd6;

}

.container-button{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container-button li {
    padding: 10px;
    background-color: #005dd6;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px){
    .projects {
        padding: 10%;
        padding-top: 10%;
    }

    .project-container{
        gap: 5rem;
    }
}

@media (min-width: 678px){
    .projects {
        padding: 15%;
        padding-top: 10%;
    }
}

@media (min-width: 800px){
    .projects {
        padding: 10%;
        padding-top: 5%;
    }

    .card-info{
        flex-direction: row;
        height: 40vh;
    }

    .left-show{
        flex-direction: row-reverse;
    }
}