
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e131f;
    color: #fff;
    margin: 2rem 0;
    padding: 2rem 0;
}

.about-section{
    width: min(100% - 2rem, 1450px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.about-intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (width >= 768px) {

    .about-intro{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

}