.testimonials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.testimonial-container{
    width: min(100% - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    overflow: hidden;

}

.testimonial-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.testimonial-header hr {
    background-color: #e73c7e;
    width: 100px;
    height: 2px;
    margin-top: 0.5rem;

}

.testimonial-header h2 {
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: auto;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: center;
}

.div5{
    padding: 20px;
    border-radius: 20px; 
    background-color: #38405f;
    width: min(100% - 2rem, 500px);

}

.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 0.5rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}

.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}

@media(width >= 500px) {
    .testimonial-container{
        width: min(70rem - 3rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        overflow: hidden;
    
    }
}

@media(width >= 800px){
    .testimonials{
        justify-content: flex-start;

    }
}